grid_search:
  class: GridSearchCV
  module: sklearn.model_selection
  params:
    cv: 5
    verbose: 2
model_selection:
  module_0:
    class: MultinomialNB
    module: sklearn.naive_bayes
    params:
      alpha: 
      - 0.01
      - 0.03
      - 0.05
      - 0.10
    search_param_grid:
      alpha: 
      - 0.01
      - 0.03
      - 0.05
      - 0.10
  module_1:
    class: GaussianNB
    module: sklearn.naive_bayes
    params:
      var_smoothing: 
      - 0.006096
      - 0.059096
      - 0.000464
      - 
    search_param_grid:
      var_smoothing:
      - 0.006096
      - 0.059096
      - 0.000464

  module_2:
    class: SVC
    module: sklearn.svm
    params:
      C: 
      - 500
      - 600
      - 700
      - 800
      
    search_param_grid:
      C:
      - 500
      - 600
      - 700
      - 800

      
